*{
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
	align-items: center;
}

.square {
  width: 80%;
  height: 80vh;
  display:inline-block;
  margin: 0 auto;
  background-color: #000;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.square p {
  color: #FFF;
	width: 80%;
  text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.s1 {background-image: url("./images/Project3/pic1.jpg");}
.s2 {background-image: url("./images/Project3/pic2.jpg");}
.s3 {background-image: url("./images/Project3/pic3.jpg");}
.s4 {background-image: url("./images/Project3/pic4.jpg");}
.s5 {background-image: url("./images/Project3/pic5.jpg");}

button {
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
  border: none;
  display: inline;
  vertical-align: middle;
  height: 80vh;
  width: 10%;
}

button:hover {
  background-color: rgba(0,0,0,0.9);
}

.left {float:left;}
.right {float:right;}


.animation {
  text-align: center;
  width: 100%;
  font-size: 30px;
  font-family: monospace;
  display: inline-block;
  margin: 0 auto;
}

.firstText {
  animation: slideLeft 9s infinite;
  opacity: 0;
  display: inline-block;
}

.secondText {
  animation: slideLeft 9s 3s infinite;
  opacity: 0;
  display: inline-block;
}

.thirdText {
  animation: slideLeft 9s 6s infinite;
  opacity: 0;
  display: inline-block;
}

@keyframes slideLeft {
    0% {opacity:0; width:0;}
    9% {opacity:1; width:0;}
    10% {opacity:1; width:auto;}
    11% {opacity:1; width:0;}
    33% {opacity:0; width:0;}
    100% {opacity:0; width:0;}
}
