.l1 {background-image: url("./images/Project1/pic1.jpg"); }
.l2 {background-image: url("./images/Project1/pic2.jpg"); }
.l3 {background-image: url("./images/Project1/pic3.jpg"); }
.l4 {background-image: url("./images/Project1/pic4.jpg"); }
.l5 {background-image: url("./images/Project1/pic5.jpg"); }
.l6 {background-image: url("./images/Project1/pic6.jpg"); }
.l7 {background-image: url("./images/Project1/pic7.jpg"); }
.l8 {background-image: url("./images/Project1/pic8.jpg"); }
.l9 {background-image: url("./images/Project1/pic9.jpg"); }
.l10 {background-image: url("./images/Project1/pic10.jpg"); }
