.l1 {background-image: url("./images/Project2/pic1.jpg"); }
.l2 {background-image: url("./images/Project2/pic2.jpg"); }
.l3 {background-image: url("./images/Project2/pic3.jpg"); }
.l4 {background-image: url("./images/Project2/pic4.jpg"); }
.l5 {background-image: url("./images/Project2/pic5.jpg"); }
.l6 {background-image: url("./images/Project2/pic6.jpg"); }
.l7 {background-image: url("./images/Project2/pic7.jpg"); }
.l8 {background-image: url("./images/Project2/pic8.jpg"); width: 65vw; height: 31vw;}
