.l1 {background-image: url("./images/Project3/pic6.jpg"); }
.l2 {background-image: url("./images/Project3/pic1.jpg"); }
.l3 {background-image: url("./images/Project3/pic2.jpg"); }
.l4 {background-image: url("./images/Project3/pic3.jpg"); }
.l5 {background-image: url("./images/Project3/pic4.jpg"); }
.l6 {background-image: url("./images/Project3/pic5.jpg"); }
