.l1 {background-image: url("./images/pic6.jpg"); }
.l2 {background-image: url("./images/pic1.jpg"); }
.l3 {background-image: url("./images/pic2.jpg"); }
.l4 {background-image: url("./images/pic3.jpg"); }
.l5 {background-image: url("./images/pic4.jpg"); }
.l6 {background-image: url("./images/pic5.jpg"); }
